{
  "include": [
    "src/**/*.ts"
  ],
  "exclude": [
    "node_modules/",
    "dist/"
  ],
  "extension": [
    ".ts"
  ],
  "require": [
    "ts-node/register"
  ],
  "reporter": [
    "lcov",
    "text-summary",
    "html"
  ],
  "sourceMap": true,
  "instrument": true
}
